@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");


        
        
        
        
        * { 
            box-sizing: border-box;
        }
              
        html {
            scroll-behavior: smooth;
            height: 3000px;
        }
        body {
            margin: 0;
            font-family: 'Lato', sans-serif;
            background-color: white;
           
            }
            
      
        main {
            margin-top: 45px;
        }
        #showcase {
            background: 
            linear-gradient(to bottom, rgba(255, 255, 204, 0.3), rgba(255, 255, 179, 0.3)),
            url('../img/cat.jpeg');
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 80vh;
            width: 100%;
            position: relative;
            margin-top: 0;
            
           

            
        }
         #showcase .content {
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 20px;
            background: rgba(46, 76, 109, 0.3);
            padding: 20px;
            width: 60%;
            border-radius: 10px;
            }


        .features__left, .features__right {
            height: 350px;
        }

       
        .main-header {
            background-color: #D25D5D;
            position: fixed;
            z-index: 1;
            width: 100%;
            top: 0;
        }
        .main-nav {
            display: inline-block;
            width: calc(100% - 150px);
            text-align: right;
            ;
        }
        .main-nav__items {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .main-nav__item {
            display: inline-block;
            margin: 5px;
        }
        .main-nav__item a {
            text-decoration: none;
            color: white;
            display: inline-block;
            padding: 10px;
            font-size: 15px;
        }
        .main-header__logo {
            display: inline-block;
            padding: 10px;
            font-size: 21px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            
        }
        .main-nav__item a::before {
            content: '\2022';
            margin: 4px;

        }
        .main-nav__item a:hover {
            color: #00809D;
            background-color: white;
        }
        .main-nav__item a:active {
            color: darkorange;

        }
        .main-nav__item--login a {
            color: white;
            background-color: #00809D;
            border-radius: 8px;
            border: 2px solid white;
            padding: 4px 16px;
            transition-duration: .6s;

        }
        .main-nav__item--login a::before {
            content: '';
        }
        .main-nav__item--login a:hover {
           color: #00809D;
           background-color: white;
           border: 2px solid #00809D;
        }
        #how-it-works {
            text-align: center;
            padding: 10px;
        }
        
       
        .text-box {
            display: inline-block;
            width: calc(50% - 2px);
            height: 350px;
            background-color: #C4E1E6;
            vertical-align: top;
        }
        .features__left {
            background: 
            linear-gradient(to bottom, rgba(255, 255, 204, 0.3), rgba(255, 255, 179, 0.3)),
            url('../img/family.jpeg');
            background-size: cover;
            background-position: top center;
        }
        .features__right {
            background-color: #e6e6e6;
            padding: 40px;
            vertical-align: top;
        }
        .features__right h3 {
            font-size: 30px;
        }
        #features a {
            background-color: #FC997C;
            color: white;
            padding: 7px 15 px;
            text-decoration: none;
            font-size: 14px;
            text-align: center;
            border: 1px solid #FC997C;
            border-radius: 3px;
            display: inline-block;
            margin-top: 15px;
        }
        #features a:hover {
            border: 1px solid #FC997C;
            color: #FC997C;
            background-color: white;
        }
        #plans {
            padding: 10px;
            border-radius: 5px;
            box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
            background-color: #f5f5f5;


        }
        #plans li {
            text-align: center;
            list-style: none;
            margin: 5px;
        }
        #plans h3, p {
            text-align: center;
            font-weight: bold;
        }
        .plan-button {
            text-align: center;
            margin: 5px;
            background-color: #D25D5D;
            color: white;
        }
        .recommended {
            background-color: white;
            color: #D25D5D;
            padding: 5px;
            position: relative;
            
        }
        .background-plans {
            background-color: #00809D;
            color: white;
            transform: translateY(-15px);
            transform: scale(1.0);
            height: 350px;
            position: absolute;
        
            
        }

            
           
        .container {
            margin: 0 auto;
            width: 1000px;
        }
        
        #backtoptop {
            position: fixed;
            bottom: 10px;
            right: 10px;
        }
        #backtoptop i {
            color: #FC997C;
            font-size: 45px;
            transition: color .6s;

        }
        #backtoptop i:hover {
            color: #fb6537;
        }
        .col i {
            color: #D25D5D;
        }
        .row {
            margin-top: 40px;
            
         
            
          
          
        }
        .row::after {
            content: "";
            display: block;
            clear: both;


        }
        
        .col {
            width: 33.33%;
            height: 300px;
            float: left;
            text-align: center;
            padding: 40px;
            box-sizing: border-box;
            
        }
        .col1 {
            width: 50%;
            height: 400px;
            float: left;
            text-align: center;
            padding: 40px;
            background-color: #edf5f7;
            box-sizing: border-box;
            color: black;

           

        } 
        .col2 {
            width: 33%;
            height: 350px;
            float: left;
            text-align: center;
            padding: 20px;
            background-color: #edf5f7;
            box-sizing: border-box;
            color: black;
            border: 3px solid white;
        
           
        }
        .col3 {
            width: 33.3%;
            float: left;
            box-sizing: border-box;
            

            
        }
        .col4 {
            width: 50%;
            height: 150px;
            float: left;
            text-align: center;
            padding: 40px;
            background-color: #113F67;
            box-sizing: border-box;
            color: white;


        }
       
        .counter {
        background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
        text-align: center;
        padding: 50px;
       
        }
        .counter__item {
            font-size: 30px;
            font-weight: 500;
            color: white;
        }

        .counter h4 {
            margin: 0;
            color: white;
        }
        #movies h2 {
            text-align: center;
        }
        .card {
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
            /* position: relative;
            top: 0; */
            transition: all 0.3;
           
            
        }
        .card:hover {
            /* top: -10px; */
            transform: translateY(-10px);
        }
        .card-body {
            padding: 30px;
            
        }
        .img-fluid {
            width: 100%;
        }
        .card-container {
            padding: 10px;
        }
        .card-image {
            max-height: 350px;
        }
        footer {
            background-color: #113F67;
            padding: 10px;
            margin-top: 30px;
        }
       footer a {
        color: white;
        font-size: 18px;
        text-decoration: none;
       }
       footer ul {
        margin: 0;
        padding: 0;
       }
       footer ul li {
        list-style: none;
        display: inline-block;
        margin-left: 5px;
       }
       .social-links {
        text-align: right;

       }
       .fa-brands {
        padding: 10px;
        font-size: 25px;
        border-radius: 50%;
       }
       .fa-brands:hover {
        opacity: 0.7;
       }
       .fa-facebook {
        background-color: #3b5998;
        color: white;
       }
       .fa-square-twitter {
        background-color: #55acee;
        color: white;
       }
       .fa-instagram {
        background-color: #125688;
        color: white;
       }